.about-section {
    background-color: aliceblue;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2rem;
}

.about-section h2 {
    font-size: 2rem;
}