.about-section {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
}

.about-section h2 {
    font-size: 2rem;
    color: var(--main);

    span {
        display: inline-block;
    }
}

ul {
    margin-top: 5rem;
    margin-left: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    color: var(--main);
    font-size: 2rem;
}