.contact-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        width: 1000px;
        text-align: center;
        font-size: 4rem;
        font-weight: 700;
        color: var(--main);
    }
}