
// main colors
:root {
    --background1: #2b033f;
    --background2: #27327e;
    --background3: #1b8775;
    --background4: #000000;
    --background5: #ffffff;
    --main: white;
    --main2: #74edff;
    --nav-background: #e0e0e0;
    --nav-text: #383838;
    --nav-border: #ffffff14;
}