
// main colors
:root {
    --background1: #2b033f;
    --background2: #27327e;
    --background3: #1b8775;
    --background4: #cbcbcb;
    --background5: #ffffff;
    --main: white;
    --main2: #74edff;
}