@use './vars';
@use './App';
@use './sections/HeadlineSection';
@use './sections/AboutSection';
@use './sections/ProjectsSection';

body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    background-color: var(--background);
    font-family: 'Roboto', sans-serif;
    h1{margin: 0;}
    h2{margin: 0;}
    h3{margin: 0;}
    h4{margin: 0;}
    h5{margin: 0;}
    h6{margin: 0;}
}